# Configuration serveur
PORT=3001
NODE_ENV=development

# Source de données
DATA_SOURCE=github

# Sécurité CORS
CORS_ORIGIN=*

# GitHub (si DATA_SOURCE=github)
GITHUB_OWNER=shaan-Mx
GITHUB_REPO=myStorage
GITHUB_BRANCH=main
# token name: xxx
GITHUB_TOKEN=github_pat_xxx

# github / Chemins des fichiers
PRODUCTS_FILE_PATH=json/products.json
USERS_FILE_PATH=json/users.json

# Choisir la méthode de génération d'ID
PRODUCT_ID_METHOD=nanoid