<!DOCTYPE html>
<html>
  <head>
    <title>API Status</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div class="wrapper-status">
      <h1>
        <img src="/icon.svg" alt="" class="icon">
        <span>API Server</span>
      </h1>
      <div class="grille">
        <span>Status</span><span><%= status %></span> <span>Data Source</span
        ><span><%= dataSource %></span> <span>startedAt</span
        ><span><%= startedAt %></span>
      </div>
      <h3>Json Files</h3>
      <div class="flex-row">
        <span><a href="http://localhost:3001/api/products">Products</span> 
        <span><a href="http://localhost:3001/api/users">Users</span> 
      </div>
    </div>
  </body>
</html>
